<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'multiply:input' %}" method="post">
    {% csrf_token %}
    <input type="text" name="num_input" value=""/>
    <a href="{% url 'multiply:results' %}">check count</a><br>
    <input type="submit" name="submit" value="Submit" />
    {% if list_number %}
    {% for i in list_number %}
        <h1>{{number}}*{{ forloop.counter }}  = {{i}}</h1>
    {% endfor %}
    {% endif %}
</form>
</body>
</html>